@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
    list-style-type: none;
}

/*
### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

*/
:root{
    --White: hsl(0, 0%, 100%);
    
    --DarkBlue: hsl(217, 54%, 11%); /*main*/
    --Blue:  hsl(216, 50%, 16%);  /*card*/
    
    --Cyan: hsl(178, 100%, 50%);  
    --SoftBlue: hsl(215, 51%, 70%);
    --LineBlue: hsl(215, 32%, 27%);  
}

.main-nft{
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box-nft {
    background-color: var(--Blue);
    width: 350px;
    height: 600px;
    padding: 20px;
    flex-direction: column;
    border-radius: 25px;
    box-shadow:#0c1728 0px 10px 15px 15px;
}
.main-box-nft .icon-nft{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-nft img{
    width: 310px;
    height: 300px;
    border-radius: 10px;
}
.icon-nft{
    position: relative;
}

.icon-nft .view{
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    border-radius: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.icon-nft .view img{
    color: var(--White);
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-nft .view:hover{
    opacity: 0.80;
    cursor: pointer;
}


.title {
    color: var(--White);
    padding: 25px 0;
    font-size: 12px;
}
.title:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.text-nft p{
    color: var(--SoftBlue);
    font-size: 18px;
    padding-bottom: 25px;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    font-size: 18px;
    border-bottom: 1px solid var(--LineBlue);
}
.infos .price {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Cyan);
}
.price img{
    padding-right: 5px;
}

.infos .time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--SoftBlue);
}
.time img{
    padding-right: 5px;
}

.creator {
    display: flex;
    align-items: center;
    padding-top: 15px;
    font-size: 18px;
}

.creator img {
    width: 35px;
    border: 1px white solid;
    border-radius: 25px;
    margin-right: 15px;
}
.creator p{
    color: var(--SoftBlue);
}
.creator span{
    color: var(--White);
}
.creator span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .main-box {
        width: 280px;
        height: 540px;
    }
    .icon img {
        width: 235px;
        height: 235px;
    }
    .creator {
        font-size: 16px;
    }
}