*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.list{
    margin-left: 100px;
}

/* Colors */
:root
{
    --White: hsl(0, 0%, 100%);
    --Orange: hsl(25, 97%, 53%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --DarkGreyBlue : hsl(213, 20%, 23%);
}

.main-rating{
    font-family: 'Overpass', sans-serif;
    background-color: var(--VeryDarkBlue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box-rating{
    width: 415px;
    height: 415px;
    background-color: var(--DarkBlue);
    color: var(--White);
    border-radius: 25px;
    padding: 30px;
}

.icon-rating{
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--DarkGreyBlue);
   
}
.text-rating{
    padding-top: 35px;
    padding-bottom: 30px;
}
.text-rating h1{
    padding-bottom: 20px;
    font-size: 25px;
}
.text-rating p{
    font-size: 15px;
    color: var(--MediumGrey);
}

.number ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.number ul li button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: var(--DarkGreyBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--MediumGrey);
}

.number ul li button:hover{
    background-color: var(--Orange);
    cursor: pointer;
    color: var(--White);
}
.number ul li button:focus{
    background-color: var(--LightGrey);
    color: var(--White);
}

.btn-submit {
    padding-top: 30px;
}

.btn-submit button{
    /* padding-top: 20px; */
    padding: 15px 130px;
    background-color: var(--Orange);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--White);
    border: 1px solid black;
    cursor: pointer;
}

.btn-submit button:hover{
    color: var(--Orange);
    background-color: var(--White);
}

.hide{
    display: none;
}

.img-thank {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.selected p {
    border: 1px solid var(--DarkBlue);
    border-radius: 15px;
    background-color: var(--DarkGreyBlue);
    padding: 5px 15px;
    color: var(--Orange);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.text-rating-thank {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: var(--MediumGrey);
}

/* - de 500 px */
@media screen and (max-width:500px) {
    .main-box {
        width: 325px;
        height: 380px;
        background-color: var(--DarkBlue);
        color: var(--White);
        border-radius: 25px;
        padding: 30px;
    }
    .icon {
        width: 40px;
        height: 40px;
    }
    .text-rating h1 {
        font-size: 20px;
    }
    .text-rating p {
        font-size: 13px;
    }
    .number ul li button {
        width: 40px;
        height: 40px;
    }
    .selected p {
        font-size: 14px;
    }
    .title {
        font-size: 12px;
    }
    .text-rating-thank {
        font-size: 13px;
        line-height: 18px;
    }
    
}
