.error-page{
    color:#121212;
    position: relative;
    height: 1024px;
    background: linear-gradient(60deg, #F58A07,#ff000067);
}

.number-of-error {
    display: flex;
    font-size: 288px;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 30px;
}
.error h1{
    padding: 50px;
}

.error-message{
    display: block;
        margin: auto;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        font-size: 36px;
}
.return{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    margin-top: 120px;
    text-decoration: underline;
    color: #121212;

}


@media only screen and (max-width: 900px) {
    .number-of-error {
        font-size: 200px;  
    }
    .error-message {
        font-size: 28px;
    }
    .error-page {
        height: 800px;
    }

}

@media only screen and (max-width: 500px) {
    .number-of-error {
        font-size: 100px;  
    }
    .error-message {
        font-size: 16px;
    }
    .logo {
        
        padding-right: 0px; 
        padding-left: 15px;
    }
    .error-page {
        
        height: 600px;
    }
    .return {
        
        font-size: 15px;
        
    }

}